body {
    background: #261b24;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: rgb(230, 149, 149);
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px 15px;
    margin-left: 5px;
}

li {
    background: #e8e8e8;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.action-btn {
    float: right;
    margin-left: 10px;
    cursor: pointer;
    color: blue;
}

.delete-btn {
    color: red;
}
